[user]
  email = mhmdali102@bk.ru
  name = mahcodes
	signingkey = /home/mhmdali102/.ssh/id_ed25519.pub

[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  path = nvim

[core]
  pager = delta
  trustctime = false

[interactive]
  diffFilter = delta --color-only

[include]
  path = ~/.config/git/themes.gitconfig
	path = ~/.config/git/catppuccin.gitconfig

[delta]
	features = catppuccin-mocha
	syntax-theme = CatppuccinMocha # Use bat theme
  navigate = true  # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true

[merge]
  conflictstyle = zdiff3

[diff]
  colorMoved = default

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[lfs]
  cachecredentials = true

[http]
  connecttimeout = 9999
[init]
  defaultBranch = master

[gpg]
	format = ssh
[commit]
	gpgsign = true

[alias]
yolo = !git add -A && git commit -am \"`curl -sL http://whatthecommit.com/index.txt`\"
