[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  path = nvim

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = calochortus-lyallii
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[include]
    path = ~/.config/git/themes.gitconfig
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[lfs]
	cachecredentials = true
